.section {
  width: 500px;
  box-shadow: 0px 0px 4px 0px rgba(42, 45, 44, 0.2);
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  h2 {
    margin-bottom: 15px;
    font-size: 40px;
    color: darkgray;
  }
}
